<include file="Common:header"/>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="javascript:;">会员管理</a>
        <a>
          <cite>充值管理</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so"   action="" method="GET" style="width:initial;display: inline-block;">
          <input class="layui-input"  autocomplete="off" placeholder="订单号"  id="ordernum" name="ordernum">
          <input class="layui-input"  autocomplete="off" placeholder="用户ID"  id="uid" name="uid">
          <input class="layui-input"  autocomplete="off" placeholder="充值时间"  id="time" name="time">
          <button class="layui-btn search" title="搜索" lay-submit lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <div style="float:right;">
          {$page}
        </div>
      </div>
      
      <table class="layui-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>用户ID</th>
            <th>订单号</th>
            <th>充值方式</th>
            <th>充值金额</th>
            <th>时间</th>
          </tr> 
        </thead>
        <tbody>
          <volist name="list" id="vo">
          <tr>
            <td>{$vo.id}</td>
            <td><a title="查看" class="viewid" data-val="{$vo.uid}" href="javascript:;" style="color: #009688">#{$vo.uid}</a></td>
            <td>{$vo.ordernum}</td>
            <td>{$vo.type}</td>
            <td>{$vo.money}</td>
            <td>{$vo.time}</td>
          </tr>
          </volist>
        </tbody>
      </table>
    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#time' //指定元素
        });
      });
      $(function(){

      })
    </script>
  </body>

</html>