<include file="Common:header"/>
<body>
<form class="layui-form mform" action="" method="POST" style="padding:10px 20px;">
        <div class="layui-form-item">
            <label class="layui-form-label">用户ID</label>
            <div class="layui-input-block">
                <input type="text" name="uid" readonly autocomplete="off" class="layui-input" value="{$id}">
            </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">订单号</label>
          <div class="layui-input-block">
            <input type="text" name="ordernum" readonly autocomplete="off" class="layui-input" value="<php>echo 'KS'.date('YmdHis');</php>">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">充值方式</label>
          <div class="layui-input-block">
            <select name="type">
              <option value=""></option>
              <option value="微信">微信</option>
              <option value="支付宝">支付宝</option>
              <option value="银行卡">银行卡</option>
              <option value="其他">其他</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">充值金额</label>
            <div class="layui-input-block">
                <input type="number" placeholder="请输入充值金额" name="money" autocomplete="off" class="layui-input" value="">
            </div>
        </div>
        
      </form>
      <div class="layui-form-item" style="text-align:center;">
            <button class="paysub layui-btn">立即充值</button>
    </div>
</body>
<script>
$(function(){
    $('.paysub').click(function(){
        if($('select[name="type"]').val()==''){
            layer.msg('请选择充值方式', function(){});
        }else if($("input[name='money']").val()==''){
            layer.msg('请输入充值金额', function(){});
        }else{
            layer.load();
            $('.mform').submit();
        }
    })
})
</script>
</html>